pytest-shutil
matplotlib
tqdm
hydra-core
six
natsort
moviepy

tensorboard
pytorch_lightning
torchmetrics
omegaconf
shortuuid
chumpy
transformers
diffusers
einops
wandb
rich
imageio
imageio-ffmpeg
psutil


# for visualization
joblib==1.2.0
scikit-image
spacy
ftfy
more-itertools
pyrender
librosa
triangle==20220202